/* Login Page Styles */

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

/* Left Side - Banner */
.login-banner {
  flex: 1;
  background: url("https://static.showit.co/1200/frBJ4TKwRJyiTnZjEL9C5Q/59335/ombrebyhj_le-9529.jpg")
    no-repeat center center/cover;
  position: relative;
  min-width: 300px;
}

.login-banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.login-banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 20px;
  max-width: 100%;
}

.bold {
  font-weight: bold;
}

.small {
  font-size: 0.8rem;
}

/* Right Side - Login Form */
.login-form-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-width: 300px;
}

.login-form {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text-muted {
  color: #666;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: solid 1px !important;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn {
  border: solid 1px !important;
  transition: all 0.3s ease-in-out; /* Smooth transition effect */
}

.login-btn:hover {
  color: black !important;
  background-color: white !important;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.facebook-icon {
  color: #949494;
  cursor: pointer;
}

.google-icon {
  color: #949494;
  cursor: pointer;
}

.text-primary a {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    height: auto;
  }
  .login-banner {
    flex: none;
    height: 300px;
  }
}

.message {
  margin-top: 10px;
  font-size: medium;
  font-weight: 500;
}
